html {
    font-family: sans-serif;
}
  
body {
    display : flex;
    align-items: center;
    height: 90vh; 
    margin:auto;

}

.coolbox{
    width: 200px;
    background-color: red;
    text-align: center;
    color: white;
    line-height: 18px;
    background-image: linear-gradient(
        to the top right
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 0.3),
    );
    border-radius: 15px;
    border: solid #990000;
    box-shadow: inset  4px 4px 4px rgba(255,255,255,0.6),
    inset -4px 4px 4px rgba(0, 0, 0, .6), 4px 4px px black;
}